@import "tailwindcss";

* {
  box-sizing: border-box;
}
.header-search {
  @apply p-3 rounded-4xl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-customgray: #f7f7f7;
}
